
.DS_Store
.DS_Store
WishiSDK.xcframework/ios-arm64/WishiSDK.framework/CuratedPices.json
WishiSDK.xcframework/ios-arm64/WishiSDK.framework/PricesAndCurrencyMock.json
WishiSDK.xcframework/ios-arm64_x86_64-simulator/WishiSDK.framework/CuratedPices.json
WishiSDK.xcframework/ios-arm64_x86_64-simulator/WishiSDK.framework/PricesAndCurrencyMock.json
